# Ignore virtual environment
venv/

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore environment variable files
.env

# Ignore editor settings
*.vscode/
*.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
